/******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
FUENTES
*******************************************************************************************************************************************************************************
******************************************************************************************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

/******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
VERSION MOVIL
*******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
******************************************************************************************************************************************************************************/

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

article{
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: 1px solid black;
    margin-bottom: 2em;
}

/******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
BOTON ENVIAR
*******************************************************************************************************************************************************************************
******************************************************************************************************************************************************************************/

#boton-borde-desigual{
    background-color: rgb(29, 29, 29);
    font-family: 'Poppins', sans-serif;
    position: relative;
}

#boton-borde-desigual form{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: 150%;
}

#boton-borde-desigual form div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#boton-borde-desigual div{
    width: 100%;
    display: flex;
    justify-content: center;
}


#boton-borde-desigual button{
    all: unset;
    text-align: center;
    padding: 0.5em 2em;
    border-radius: 60px 0 60px 0;
    box-shadow: 0px 0px 20px 1px rgb(134, 134, 134);
    transition: 0.5s;
    font-size: 200%;
    background-color: rgb(168, 168, 168);
}

#boton-borde-desigual button:hover{
    cursor: pointer;
    border-radius: 0 60px 0 60px;
    box-shadow: 0px 0px 120px 8px rgb(212, 212, 212);
    filter: brightness(1.5);
}

#boton-borde-desigual button[class='amarillo']{
    background: rgb(255,216,1);
    background: linear-gradient(90deg, rgba(255,216,1,1) 0%, rgba(255,226,67,1) 46%, rgba(255,233,111,1) 93%);
    color: black;
}

#boton-borde-desigual button[class='rojo']{
    background: rgb(147,1,1);
    background: linear-gradient(90deg, rgba(147,1,1,1) 0%, rgba(205,1,1,1) 46%, rgba(255,1,1,1) 88%);
    color: white;
}

#boton-borde-desigual button[class='verde']{
    background: rgb(59,179,0);
    background: linear-gradient(90deg, rgba(59,179,0,1) 0%, rgba(70,213,0,1) 46%, rgba(92,255,12,1) 91%);
    color: white;
}

#boton-borde-desigual button[class='azul']{
    background: rgb(0,84,149);
    background: linear-gradient(90deg, rgba(0,84,149,1) 0%, rgba(0,117,208,1) 46%, rgba(18,149,251,1) 93%);
    color: white;
}

/******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
VERSION ORDENADOR
*******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
*******************************************************************************************************************************************************************************
******************************************************************************************************************************************************************************/

@media (min-width: 1280px) {
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    article{
        width: 48%;
    }
}